html {
    background-color: white;
}

body {
    padding:0px;
    margin: 0px;
}

#container {
    background-color: white;
    width:100%;
}
#top-bar {
    background-color: #7cd175;
    height:60px;
    width:100%;
}

#left-pane {
    height:80px;
    float:left;
}
#left-pane img {
    height:60px;
    width:60px;
}
#middle-pane {
    height:60px;
    width:100px;
    float:left;
}
#middle-pane h1{
    color:white;
    margin-top: 7px;
}

#middle-pane a {
    text-decoration: none;
}

#right-pane {
    height:60px;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url("../goal.png");
}

.butt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height:50px;
    width:150px;
    padding:10px;
    background-color: #7cd175;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

#first-page {
margin-top:20px;
height:400px;
width:100%;
}

#top-main {
margin-top: 10px;
height:300px;
width:100%;
}

#image {
height:300px;
display:block;
background-size: cover;
background-size: 100% 100%;
background-image: url("../Screen.png");
}

#image a{
    text-decoration: none;
}

#scores {
height:300px;
overflow-y:scroll;
border:1px solid;
}

.load {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width:40px;
    height: 40px;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url('../loading.gif');
}

#middle {
    height:200px;
    width:100%;
}

#news {
    margin-top: 20px;
    height:200px;
    float:left;
    border :1px solid;
    background-size: cover;
    background-size: 100% 100%;
    border-radius: 5px;
    background-image: url("../kevin.jpeg");
}

#articles {
margin-top:20px;
width:100%;
}

#topline {
width:100%;
border:1px solid;
border-color: #7cd175;
}

#mvp {
    height:80px;
    margin-top: 120px;
    background: rgba(54, 25, 25, .5);
}

#mvp h3 {
    padding:30px;
    color:white;
}

#map {
margin-top: 20px;
height:200px;
display:block;
border :1px solid;
border-radius: 10px;
background-size: cover;
background-size: 100% 100%;
background-image: url("../article-2424361-1BE583CC000005DC-776_634x295.jpg");

}

.flag {
    height:30px;
    width:30px;
}

.flag a img{
width:30px;
height:30px;
}

.eng {
margin-left: 70px;
padding-top: 20px;
}

.fra {
margin-left: 70px;
padding-top: 60px;
}

.ita {
padding-top:60px;
margin-left: 135px; 
}

.spa {
margin-top: -30px;
margin-left: 30px;
}

.ger {
margin-left: 130px;
margin-top: -100px;
}

.por {
margin-top: 40px;
margin-left: -5px;
}

.ned {
margin-left: 100px;
margin-top:-105px;
}


.output {
width:100%;
}

.ele {
border-bottom: 1px solid;
float:left;
text-align: center;
font-weight: bold;
font-size: 12px;
width:10%;
height:50px;
margin-top: 20px;
}

#credits {
float:right;
margin-top: 20px;
}

#scores_head select {
width:100%;
background-color: orange;
height:40px;
}

.single_score {
padding:5px;
width:100%;
height:35px;
text-align: center;
font-size:12px;
border-bottom: 1px solid;
}

.single_score img {
    height:20px;
    width:20px;
}

#top {
    text-align: center;

}
#comp {
    width:100%;
    margin-top: 50px;
}
#left {
    width:45%;
    float:left;
    border:2px solid;
    border-radius: 10px;
    border-color: #7cd175;
    padding:5px;
}


#right {
    width:45%;
    float :right;
    border:2px solid;
    border-radius: 10px;
    border-color : #7cd175;
    padding:5px;
}

.but {
    width:100%;
    color:white;
    background-color: #7cd175;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.sugg {
    width:100%;
    height:30px;
    text-align: center;
    position: relative;
}

#left select {
    width:100%;
    background-color: #7cd175;
    height:40px;
}

#right select {
    width:100%;
    background-color: #7cd175;
    height:40px;
}

#left input {
    width:100%;
}
#right input {
    width:100%;
}

.loutput {
    width:100%;
    text-align: center;
}

.routput {
    width:100%;
    text-align: center;
}

.m {
    height:20px;
    width:80px;
    margin: 0 auto;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url("../messi.jpg");
}
.c {
    background-size: cover;
    height:20px;
    width:80px;
    margin: 0 auto;
    background-size: 100% 100%;
    background-image: url('../ronaldo.jpeg');
}
.a {
    height:20px;
    width:80px;
    margin: 0 auto;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url('../anon.png');
}

.elem {
    height:100px;
}

.cred {
    color:red;
    font-size: 20px;
    font-weight: bold;
}

.part {
    width:100%;
    text-align: center;
    border-top:1px solid;
    border-color:#7cd175; 
    font-weight: bold;
}

#chart {
    width:100%;
    float:left;
    height:200px;
}

.pie {
    width:33%;
    height:200px;
    float:left;
}



#chart-but {
    margin-top: 50px;
    background-color: #7cd175;
    width:100%;
    color:white;
    height:50px;
    font-weight: bold;
}

#credits {
    float:right;
    margin-top: 20px;
}
.loutput-data{
    display: inline;

}
.routput-data{
    display: inline;
}

