/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#big-container{
    border:2px solid;
    border-radius: 5px;
    width:50%;
    margin: 0 auto;
    margin-top: 100px;
}

#header{
    margin: 0 auto;
}

#header h1 {
    margin-bottom: 0px;
}

#add{
    width:90%;
    margin: 0 auto;
}

.titles{
    width:300px;
    font-size: 20px;
    font-weight: bold;
}

.input-title{
    width:75%;
    height:40px;
    float :left;
}

#button{
    margin-top: 6px;
    width:23%;
    height:35px;
    font-weight: bold;
    background-color: lightgrey;
}

.input-text{
    width:100%;
    height:70px;
}

#seperator{
    width:40%;
    border:1px solid;
    margin:0 auto;
    margin-top: 30px;
}

#to-dos{
    width:90%;
    margin: 0 auto;
    margin-top:10px;
    padding:10px;
}

.todo-element{
    border: 1px solid;
    border-color: grey;
    border-radius: 4px;
    margin: 0 auto;
    width:100%;
    height:150px;
    margin-bottom: 10px;
}

.settle {
    width: 100%;
    float:left;
    font-size:2vw;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.date-class{
    width:70%;
    font-size:15px;
    color:grey;
}

.inner-container{
    width:85%;
    height:100px;
    padding: 10px;
    float:left;
}

.delete{
    margin-top: 25px;
    float:left;
    height:100px;
    border-left: 1px solid
}

.cancel-button{
    height:40px;
    width:30px;
    margin-left:15px;
    margin-top: 30px;
    background-color: lightgrey;
    font-weight: bold;
}

.des{
    font-size:1vw;
    margin-top: 10px;
    font-weight: bold;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}