/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main_container{
    width:100%
}

#header_container{
    width: 100%;
    margin: 0 auto;
    background: url('../img/thirdheader.jpg') no-repeat;
    background-size: cover;
}
#inner_container{
    margin: 0 auto;
    width: 960px;
    height: 670px;
}

#top-bar{
    float: left;
    height: 85px;
    width: 100%;
}

#logo{
    margin-top: 16px;
    margin-left: 10px;
    float: left;
}

#menu {
    margin-left: 400px;
    margin-top: 34px;
}

#menu ul {
    margin-right: 10px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    margin-right: 14px;
}

#menu ul li a.home{
    color: #00e0d0;
}

#middle-text{
    width: 100%;
    float: left;
    margin-top: 120px;
}

#head{
    font-size: 31px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#lign{
    width: 50px;
    border:1px solid;
    border-color:#00e0d0;
    margin: 0 auto;
    margin-top: 30px;
}

#middle-paragraph{
    width:75%;
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 30px;
}

.button{
    border: 1px solid;
    border-color: #00e0d0;
    border-radius: 1px;
    margin: 0 auto;
    width:140px;
    margin-top: 30px;
    font-size: 15px;
}

.button a{
    color: #00e0d0;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px;
}

.button :hover{
    color: white;
    background-color: #00e0d0;
}

#first-footer{
    height:200px;
    width:100%;
    float:left;
}

#circles{
    padding: 0;
    text-decoration: none;
    width: 200px;
    margin: 100px auto;
}



#circles ul li {
    display: inline;
    width: 10px;
    height: 10px;
    margin: 0 auto;
}

#circles ul li a{
    margin: 5px;
    float: left;
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid #00e0d0;
    border-radius: 100px;
}

#circles ul li a:hover{
    background-color: #00e0d0;
}


.second-page{
    width: 100%;
    margin: 0 auto;
}

#inner-second-page{
    width:960px;
    height:400px;
    margin: 0 auto;
}

.left-part{
    float: left;
    height:100%;
    width: 410px;
}

.left-part img {
    margin: 0 auto;
    margin-top: 72px;
    margin-left: 75px;
}

.right-part {
    float:left;
    width:540px;
    height:100%;
}

.right-part h3 {
    margin-top: 72px;
}

.button1{
    border: 1px solid;
    border-color: #00e0d0;
    border-radius: 1px;
    width:120px;
    margin-top: 50px;
    font-size: 15px;
}

.button1 a{
    color: #00e0d0;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 5px;
}

.button1 :hover{
    color: white;
    background-color: #00e0d0;
}

#third-page{
    width: 100%;
    margin: 0 auto;
    background: url('../img/city.jpg') no-repeat;
    background-size: cover;
}


#inner-third-page {
    width:960px;
    height:550px;
    margin: 0 auto;
}

#play{
   margin: 0 auto; 
}

#play img{
    margin-left: 430px;
    margin-top: 200px;
}

#play h3 {
    margin-left: 390px;
    color: white;
    text-decoration: none;
}

#inner-fourth-page{
    width:960px;
    height:750px;
    margin: 0 auto;
}

#header4{
    margin: 0 auto;
    margin-top:70px;
    text-align: center;
}

#header4 h3 {
    color: #66636d;
}

#header4 p {
    color: #b5b5b6;
}

#lign1{
    width: 50px;
    border:1px solid;
    border-color:#b5b5b6;
    margin: 0 auto;
    margin-top: 30px;
}

#collection {
    width:100%;
    height:60%;
    margin-top: 50px;
}

.left {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color:#b5b5b6;
    width:300px;
    float: left;
}

.right {
    border-right:0;
}

.bottom {
    border-bottom:0;
}

.left img {
    margin-left: 130px;
    margin-top: 40px;
}

.left h6 {
    text-align: center;
}

.left p {
    text-align: center;
    font-size: 12px;
}


#fifth-page {
    width: 100%;
    margin: 0 auto;
    background: url('../img/fifth.jpg') no-repeat;
    background-size: cover;
}

#inner-fifth{
    width:960px;
    height:820px;
    margin: 0 auto;
}

#fifth-header{
    width:440px;
    height:185px;
    margin: 0 auto;
    padding-top: 50px;
}

#fifth-header h3{
    text-align: center;
    color: white;
}

#fifth-header p {
    text-align: center;
    color: white;
}

#team-collection {
    height:300px;
    width:100%;
}

.team{
    float:left;
    width:210px;
    height:300px;
    border: 1px solid;
    border-color:white;
    margin-right: 20px;
}

.tpic{
    width:100%;
    height:210px;
    background-color: white;
}

.team p{
    text-align: center;
    color:white;
}

#fifth-footer{
    width:100%;
    margin-top: 60px;
    float:left;
}

#fifth-footer h4{
    color: white;
    text-align: center;
}

#join {
    width:340px;
    margin: 0 auto;
}


#works{
    padding-top: 70px;
    width:960px;
    height:160px;
    margin: 0 auto;
}

#work-title{
    width:720px;
    float:left;
}

#other-work{
    float:left;
}

#other-work a {
    font-size: 20px;
    text-decoration: none;
    color:#66636d;
}


#work-collection{
    width:100%;
    height:400px;
}

.odd{
    float:left;
    height:50%;
    width:16.66%;
    background-color: #b6b6b6;
}

.even{
    float:left;
    height:50%;
    width:16.66%;
    background-color: #8a8a8a;
}

#six-foot{
    padding-top: 50px;
    height:180px;
}

#seven-page{
    width: 100%;
    margin: 0 auto;
    background: url('../img/seven.jpg') no-repeat;
    background-size: cover;
}

#inner-seven{
    height:600px;
    width:960px;
    margin: 0 auto;
}

#seven-text{
    width:780px;
    height:400px;
    margin: 0 auto;
}

#seven-text h1{
    color:white;
    text-align: center;
    padding-top:40px;
    font-size: 40px;
}

#seven-text p{
    color:white;
    text-align: center;
}

#seven-text h4{
    padding-top: 50px;
    color:white;
    text-align: center;
}
#seven-text h5{
    color:white;
    text-align: center;
    font-weight: normal;
}

#faces{
    float:left;
    width: 100%;
    height:100px;
}

#faces-list{
    width:350px;
    margin: 0 auto;
    text-decoration: none;
}

#faces-list ul li {
    float:left;
    text-decoration: none;
    display: block;
}


#inner-eight{
    width:960px;
    height:620px;
    margin: 0 auto;
}

.left-part h3 {
    padding-top: 20px;
}

.form {
    padding-top: 15px;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}